################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter01/01_01_01_CreateVm/obj
/Chapter01/01_01_01_CreateVm/.vs/01CreateVm/v16
/.vs
/Chapter01/01_01_01_CreateVm/bin/Debug/net5.0
/Chapter01/01_01_01_CreateVm/.vs/01_Develop_Azure_IaaS_compute_solution/v16
